{% extends 'bootstrap/base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}
{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<body style="background-image: url('https://images.unsplash.com/photo-1633617477271-d4f351ff7c7c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1887&q=80');">

<div class="container">
    <div class="row" style="margin-top: 5%; color: crimson;">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {{wtf.quick_form(registration_form)}}
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
</body>
{% endblock%}