{% include 'navbar.html' %}

{% import 'bootstrap/wtf.html' as wtf %}
{% extends 'bootstrap/base.html' %}
{% import 'macros.html' as macro %}

{% block content %}
<body style="background-image: url('https://images.unsplash.com/photo-1633617477271-d4f351ff7c7c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1887&q=80');">

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="thumbnail text-center">
        <h4>{{ pitch.title }}</h4>
        <h5>{{ pitch.description }}</h5>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        {{ wtf.quick_form(form) }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3 style="color: crimson;">Comments</h3>
      {{ macro.displayComment(comment) }}
    </div>
  </div>
</div>
</body>
{% endblock %}