{% extends 'bootstrap/base.html' %}
{% import 'macros.html' as macro %}
{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="container">
  <h1 style="color: crimson;" class="text-center">Pitch Hub</h1>
  <p class="width text-center lead">{{ intro }}</p>
  <div class="tabbable-panel">
    <div class="tabbable-line">
      <ul class="nav nav-tabs nav-justified" role="tablist">
        <li>
            <a style="color: crimson;" href="#promotion" class="nav-link" data-toggle="tab">Promotional Pitches</a>
        </li>
        <li>
          <a style="color: crimson;" href="#interview" class="nav-link" data-toggle="tab">Interview Pitches</a>
        </li>
        <li>
          <a style="color: crimson;" href="#pickupline" class="nav-link" data-toggle="tab">Pick-Up Lines</a>
        </li>
        <li class="active">
            <a style="color: crimson;" href="#product" class="nav-link" data-toggle="tab">Product Pitches</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="tab-content">
    <div id="product" class="tab-pane active">
      {{ macro.display(productpitch) }}
    </div>
    <div id="interview" class="tab-pane">
      <span>{{ macro.display(interviewpitch) }}</span>
    </div>
    <div id="pickupline" class="tab-pane">
      {{ macro.display(pickuplines) }}
    </div>
    <div id="promotion" class="tab-pane">
      {{ macro.display(promotionpitch) }}
    </div>
  </div>
</div>
{% endblock %}