{% import 'bootstrap/wtf.html' as wtf %}
{% extends 'bootstrap/base.html' %}
{% include 'navbar.html' %}

{% block content %}
<body style="background-image: url('https://images.unsplash.com/photo-1633617477271-d4f351ff7c7c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1887&q=80');">

<div class="container">
  <div class="row">
    <div class="jumbotron">
      {{ wtf.quick_form(form) }}
      <ul class="list-group">
        {% for pitch in pitches %}
        <a href="">
          <li class="list-item">
            {{ pitch.id }}
          </li>
          <h4>{{ pitch.description }}</h4>
          <h6>This pitch is posted by {{ user.username }}.</h6>
        </a>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
</body>
{% endblock %}